<?xml version="1.0"?>
<ruleset name="CodeReviewsIo">
    <arg name="basepath" value="."/>
    <arg name="extensions" value="php"/>
    <arg name="parallel" value="80"/>
    <arg name="colors"/>

    <!-- Ignore warnings and show progress of the run -->
    <arg value="np"/>

    <file>./src</file>
    <file>./test</file>

    <rule ref="PSR2" />
</ruleset>
